<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cszbar" version="1.3.2">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>ZBar barcode scanner</name>
    <author>TJ Woon (tj@cloudsky.org)</author>
    <description>Plugin to integrate with the ZBar barcode scanning library.</description>
    <license>Apache 2.0</license>
    <keywords>cszbar,zbar,barcode,qr,qr code,scanner</keywords>

    <js-module src="www/zbar.js" name="zBar">
        <clobbers target="cloudSky.zBar" />
    </js-module>

    <platform name="android">



        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CsZBar">
                <param name="android-package" value="org.cloudsky.cordovaPlugins.ZBar"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                android:name="org.cloudsky.cordovaPlugins.ScannerActivity"
                android:screenOrientation="fullUser"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
            <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
            <uses-feature android:name="android.hardware.camera.front" android:required="false" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
<config-file target="res/values/colors.xml" parent="/*">
 
</config-file>

        <config-file target="res/values/strings.xml" parent="/*">
        <color name="scanner_line">#00ceff</color>
    <color name="white">#FFFFFF</color>
    <color name="black">#000000</color>
    <string name="ok">OK</string>
    <string name="grant_permission">Grant Permission</string>
    <string name="permission_camera">This app needs camera permission to scan barcode</string>
    <string name="permission_camera_rationale">Access to the camera is needed for detection</string>
    <string name="no_camera_permission">This application cannot run because it does not have the camera permission.  The application will now exit.</string>
    <string name="low_storage_error">Face detector dependencies cannot be downloaded due to low device storage</string>
    <string name="title_activity_main">Barcode Reader Sample</string>
    <string name="barcode_header">Click &quot;Read Barcode&quot; to read a barcode</string>
    <string name="read_barcode">Read Barcode</string>
    <string name="auto_focus">Auto Focus</string>
    <string name="use_flash">Use Flash</string>
    <string name="barcode_success">Barcode read successfully</string>
    <string name="barcode_failure">No barcode captured</string>
    <string name="barcode_error">"Error reading barcode: %1$s"</string>
    <string name="grant">GRANT</string>
    <string name="cancel">CANCEL</string>


<declare-styleable name="ScannerOverlay">
        <attr name="square_width" format="integer" />
        <attr name="square_height" format="integer" />
        <attr name="line_color" format="color" />
        <attr name="line_width" format="integer" />
        <attr name="line_speed" format="integer" />
    </declare-styleable>

    <declare-styleable name="BarcodeReaderFragment">
        <attr name="auto_focus" format="boolean" />
        <attr name="use_flash" format="boolean" />
    </declare-styleable>


 <integer name="scanner_rect_width">230</integer>
    <integer name="scanner_rect_height">230</integer>
    <integer name="line_width">4</integer>
    <integer name="line_speed">5</integer>


        </config-file>

        
        <framework src="com.android.support:appcompat-v7:26.1.0" />
        <framework src="com.google.android.gms:play-services-vision:15.0.2" />

        <resource-file src="android/res/layout/activity_barcode_reader.xml" target="res/layout/activity_barcode_reader.xml" />
        <resource-file src="android/res/layout/fragment_barcode.xml" target="res/layout/fragment_barcode.xml" />
        <resource-file src="android/res/layout/fragment_barcode_reader.xml" target="res/layout/fragment_barcode_reader.xml" />
        <resource-file src="android/res/layout/scanner_view.xml" target="res/layout/scanner_view.xml" />

        <source-file src="android/BarcodeGraphic.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/BarcodeGraphicTracker.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/BarcodeReaderFragment.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/BarcodeTrackerFactory.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/CameraSource.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/CameraSourcePreview.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/GraphicOverlay.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/ScannerActivity.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/ScannerOverlay.java" target-dir="src/org/cloudsky/cordovaPlugins" />
       
        <source-file src="android/ZBar.java" target-dir="src/org/cloudsky/cordovaPlugins" />

        
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CsZBar">
                <param name="ios-package" value="CsZBar"/>
            </feature>
        </config-file>

        <!-- Declare Camera Usage for iOS10+ -->
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>For Barcode Scanning</string>
        </config-file>

        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="libiconv.dylib" />
        <source-file src="ios/libzbar.a" framework="true" custom="true"/>
        <source-file src="ios/CsZBar.m" />
        <header-file src="ios/CsZBar.h" />
        <source-file src="ios/AlmaZBarReaderViewController.m" />
        <header-file src="ios/AlmaZBarReaderViewController.h" />
        <header-file src="ios/ZBarSDK/ZBarCameraSimulator.h" />
        <header-file src="ios/ZBarSDK/ZBarCaptureReader.h" />
        <header-file src="ios/ZBarSDK/ZBarHelpController.h" />
        <header-file src="ios/ZBarSDK/ZBarImage.h" />
        <header-file src="ios/ZBarSDK/ZBarImageScanner.h" />
        <header-file src="ios/ZBarSDK/ZBarReaderController.h" />
        <header-file src="ios/ZBarSDK/ZBarReaderView.h" />
        <header-file src="ios/ZBarSDK/ZBarReaderViewController.h" />
        <header-file src="ios/ZBarSDK/ZBarSDK.h" />
        <header-file src="ios/ZBarSDK/ZBarSymbol.h" />
        <header-file src="ios/ZBarSDK/zbar.h" />
        <header-file src="ios/ZBarSDK/zbar/Decoder.h" />
        <header-file src="ios/ZBarSDK/zbar/Exception.h" />
        <header-file src="ios/ZBarSDK/zbar/Image.h" />
        <header-file src="ios/ZBarSDK/zbar/ImageScanner.h" />
        <header-file src="ios/ZBarSDK/zbar/Processor.h" />
        <header-file src="ios/ZBarSDK/zbar/Scanner.h" />
        <header-file src="ios/ZBarSDK/zbar/Symbol.h" />
        <header-file src="ios/ZBarSDK/zbar/Video.h" />
        <header-file src="ios/ZBarSDK/zbar/Window.h" />
        <resource-file src="ios/Resources/CsZBarScanView.xib" />
    </platform>

</plugin>
